<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"> Admin </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav px-2">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">新闻</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">快讯</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">视频</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">原创</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">登入/登出</a>
            </li>
        </ul>
    </div>
</nav>